$color-main: #364f6b;
$color-tomato: #fc5185;
$color-teal: #fc5185;
$color-bg: #f5f5f5;
$color-text: #57585a;
$color-gray: #aaa;
$color-light: #effafe;
$color-white: #fff;

$font-light: 300;
$font-regular: 400;
$font-medium: 500;
$font-semi-bold: 600;
$font-bold: 800;

$sec-ptb-lg: 10rem 0;
$sec-ptb-md: 7.2rem 0;
$sec-ptb-sm: 4.8rem 0;

$shadow: 1rem 1rem 2.5rem rgba($color-main, 0.1);
